* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0; 
    padding: 2.5rem 0 0;
}
.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2 {
    margin: 0;
}


#slider {
    margin: 0 auto;
    width: 60%;
    max-width: 100%;
    background-color: #2f2f2f;
    padding: 1.25rem 1.875rem 1.875rem;
    border-radius: 0.313rem;
    position: relative;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor: pointer;
    text-decoration: none;
 }
 #slides {
    position: relative;
    z-index: 1;
 }
 #overflow-wrapper {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .slides-wrapper {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .slides-wrapper {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .slides-wrapper {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .slides-wrapper {
    margin-left: -300%;
 }
 #slides .slides-wrapper {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    color: #fff;
 }
 .slide-box {
    display: flex;
    flex-direction: column;
    width: 100%;
 }
 .slide-box img {
    max-width: 100%;
    max-height: 25rem;
    height: 100%;
    border-radius: 0.313rem;
    object-fit: cover;
 }
 .slide-box p {
    color: #fff;
    margin: 2.5rem 0 0 0;
    font-size: 1.063rem;
    line-height: 1.25rem;
 }

 #nav-dots {
    text-align: right;
    position: absolute;
    bottom: 1.875rem;
    right: 1.875rem;
    z-index: 50;
    background-color: #2f2f2f;
 }
 #nav-dots label {
    position: relative;
    display: inline-block;
    width: 0.688rem;
    height: 0.688rem;
    border-radius: 100%;
    background: #58ade3;
    margin: 0 0.25rem;
    transition: all 0.3s ease;
    z-index: 52;
 }
 #nav-dots label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.625rem;
    cursor: pointer;
    width: 0.625rem;
    height: 0.625rem;
 }
 #nav-dots label:hover {
    background-color: #fff;
 }
 #slide1:checked ~ #nav-dots label:nth-child(1),
 #slide2:checked ~ #nav-dots label:nth-child(2),
 #slide3:checked ~ #nav-dots label:nth-child(3),
 #slide4:checked ~ #nav-dots label:nth-child(4) {
    background: transparent;
    border: 0.094rem #58ade3 solid;
    width: 0.719rem;
    height: 0.719rem;
 }